﻿@{
    ViewData["Title"] = "Calc Service Demonstration";
}

<h1>Calc Service Demonstration</h1>

<ul>
    <li><a href="@Url.Action("UsingModelCalc", "Calculator")">Using Model Calc</a></li>
    <li><a href="@Url.Action("UsingViewDataCalc", "Calculator")">Using ViewData Calc</a></li>
    <li><a href="@Url.Action("UsingViewBagCalc", "Calculator")">Using ViewBag Calc</a></li>
    <li><a href="@Url.Action("UsingServiceInjectionCalc", "Calculator")">Using Service Injection Calc</a></li>
</ul>